<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>* 상품 정보 *</h3>
if test : <br/>
<table border="1">
	<tr><th>index</th><th>id</th><th>sangpum</th></tr>
	<tr th:each="d, idx:${dtos}">
		<td th:if="${idx.odd}" th:text="홀수"></td> <!-- ${idx.even} -->
		<td th:unless="${idx.odd}" th:text="짝수"></td>
		<td th:text="${d.id}"></td>
		<td th:text="${d.name}"></td>
	</tr>
</table>
<br/>
switch test : <br/>
<table border="1">
	<tr><th>인덱스</th><th>아이디</th><th>상품명</th></tr>
	<tr th:each="d, idx:${dtos}">
		<td th:switch="${idx.even}">
			<span th:case="true">짝수</span>
			<span th:case="false" style="color: blue">홀수</span>
		</td>
		<td th:text="${d.id}"></td>
		<td th:text="${d.name}"></td>
	</tr>
</table>
<br/>
링크 처리 : <br/>
<a href="/thleaf/ex1">show1 페이지로 이동</a><br/>
<a th:href="@{/thleaf/ex1}">show1 페이지로 이동</a><br/>
<a th:href="@{https://www.daum.net}">daum으로 이동</a><br/>
<a th:href="@{/thleaf/ex4(param1='안녕', param2='반가워')}">show4 페이지로 이동</a><br/>
</body>
</html>